body{
    background-color: #333333d7;
}

.caroussel{
    padding: 0;
    margin: 0;
}

/* Images properties*/
.img{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}  

.img .carousel{
    width: 300px;
    margin: 100px auto 0;
    overflow: visible;
}  

.carousel img{
    -webkit-box-reflect: below 20px linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.3));
}
